// Брейкпоинты для адаптива (из твоего кода)
$breakpoint-mobile-sm: 480px;
$breakpoint-mobile: 600px;
$breakpoint-tablet: 768px;
$breakpoint-tablet-sm: 768px;
$breakpoint-desktop-sm: 900px;

// Шрифты (чтобы не писать длинные строки)
$font-mono: "JetBrains Mono", monospace;
$font-serif: "Playfair Display", serif;
$font-sans: Arial, sans-serif;